@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto&display=swap");

.background {
  background-color: #0b192f;
}
.manu {
  margin-bottom: 3rem;
  text-align: center;
  width: 14rem;
  height: 14rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
  border-radius: 100% !important;
  margin-top: 1.5rem;
  margin-bottom: 0;
  margin-left: 5rem;
  margin-top: 15rem;
}
.logo {
  margin-bottom: 3rem;
  text-align: center;
  width: 5rem;
  height: 5rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
  border-radius: 100% !important;
  margin-bottom: 0;
}
.juntar {
  display: flex;
}
.presentacion {
  margin-top: 16.5rem;
  margin-left: 1rem;
  padding: 1rem;
  font-size: 2.5rem;
  text-align: center;
  font-family: "Zodiak", serif;
}
.secciones {
  padding: 7rem;
  font-size: 1.1rem;
  font-family: "Zodiak", serif;
}
.secciones img {
  width: 20rem;
  height: 20rem;
  margin-top: 5rem;
  border-radius: 1rem;
  text-align: center;
}
.responsive-image {
  max-width: 100%;
  height: auto;
}

.logo-img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 10px;
}
.overflow-hidden {
  overflow-x: hidden;
}
.formin {
  width: 400px;
  background-color: #24303c;
  padding: 30px;
  border-radius: 4px;
  font-family: "Lato", sans-serif;
}

.formin h5 {
  font-size: 22px;
  margin-bottom: 20px;
  color: white;
}
.colore {
  color: white;
}
.formin .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
.formin p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  color: white;
}
.formin a:hover {
  color: white;
  text-decoration: underline;
}
.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: white;
}
.mensajeEnviado{
  background-color: darkslategrey;
  font-family: "Lato", sans-serif;
  color: white;
  width: 50%;
  height: 10%;
 text-align: center;
padding: 5%;
border-radius: 5%;
}
.footer {
  text-align: center;
  font-size: 0.9rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #1d1c22;
}



@media (max-width: 500px) {
  .manu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .secciones {
    text-align: center;
  }
  .conocimiento img {
    width: 7rem;
    height: 7rem;
  }

  .presentacion {
    text-align: center;
  }
  .secciones img {
    width: 13rem;
    height: 13rem;
    margin-top: 5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: auto;
  }
}
