@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto&display=swap");



.background{
  background-color: #0B192F;
}
.manu{
  margin-bottom: 3rem;
  text-align: center;
  width: 14rem;
  height: 14rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
  border-radius: 100% !important;
  margin-top: 1.5rem;
  margin-bottom: 0;
  margin-left: 5rem;
  margin-top: 15rem;
}
.logo{
  margin-bottom: 3rem;
  text-align: center;
  width: 5rem;
  height: 5rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
  border-radius: 100% !important;
  margin-bottom: 0;
  
}
.juntar{
  display: flex;
}
.presentacion{
margin-top: 16.5rem;
margin-left: 1rem;
padding: 1rem;
font-size: 2.5rem;
text-align: center;
font-family: 'Zodiak', serif;
}
.secciones{
padding: 7rem;
font-size: 1.1rem;
font-family: 'Zodiak', serif;
}
.secciones img{
  width: 20rem;
  height: 20rem;
  margin-top: 15rem;
  border-radius: 1rem;
  text-align: center;
}


.logo-img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 10px;
}


@media (max-width: 550px){
  .manu{
   margin-top: 10rem;
   margin-left: 5rem;
  }

  .secciones{
    text-align: center;
  }
  .conocimiento img{
    width: 7rem;
    height: 7rem;
    }

  .presentacion{
 text-align: center;
 
    }

      

}
